<footer>
    <div class="container style-font">
        <div class="row ">
            <div class="col-md-3">
                <h1>
                    Mas Sobre la App:
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores harum officiis officia aspernatur. Quos distinctio assumenda animi in cumque laborum fugit illum repellat vel saepe. Reiciendis incidunt repudiandae dolore sunt.</p>
            </div>
            <div class="col-md-5 center">
                <h1 >
                    Redes Sociales:
                </h1>
                <a class="icon" href="https://www.facebook.com/" > 
                    <img src="../../assets/Imagenes/icono-facebook.png" alt="ico"> Siguenos En facebook
                </a><br>
                <a class="icon" href="https://www.instagram.com/?hl=es-la" > 
                    <img src="../../assets/Imagenes/icono-instagram.png" alt="ico"> Siguenos En instagram
                </a><br>
                <a class="icon" href="https://www.youtube.com/" > 
                    <img src="../../assets/Imagenes/icono-you.png" alt="ico"> Siguenos En You Tube
                </a><br>
            </div>
            <div class="col-md-4 center">
                <h1>
                    Contacto:
                </h1>
                <ul>
                    <li>Correo: johandrith@unicesar.edu.co</li>
                    <li>Correo: luarocha97@gmail.com</li>
                    <li>Telefono: 12344533224</li>
                    <li>Celular:  3014351494</li>
                    <li>Valledupar/Cesar 2020 </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
