body{
    margin-top: -70px !important;
    background-image: url('../../../../assets/Imagenes/FondoNivel.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

.formulario{
    background:rgba(0,0,0,.1);

    border-radius: 10px;
    box-shadow:7px 14px 38px #111111 ;
    color: white;

}

.form-control{
    background:rgba(0,0,0,.3);
    border-style: none;
    transition: 0.3s ease-in;
    outline: none;

    color: white;
}
.form-control::placeholder{
    color: white;
}




.form-control:focus{
    background: none;
    box-shadow: none;
    outline: none;
}

.olvide1{
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 700!important;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,.5);
}
.olvide1:hover{
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}



.cabecera-formulario {
  background-color: rgb(1, 99, 124);
  padding: 5;
  margin-bottom: 14px;
  border-radius: 6px;
}
.cabecera-formulario p{
  text-align:center;
  font-size: 20px;
  color: ivory;
}
h3
{
  text-align: center;
}

.btn-guardar
{
  color: white;
  background-color: rgb(1, 99, 124);
  border-radius: 6px;
  font-size: 18px;
  border: 2px solid rgb(1, 99, 124);
  padding: 16;

  margin: 5px;
  height: 83%;
}
.btn-cancelar
{
color: white;
background-color:  #213e3b;
border-radius: 6px;
font-size: 18px;
border: 2px solid #213e3b;
padding: 16;
height: 37px;
margin: 5px;

}
.btn-cancelar i
{
padding-right: 15px;
}
