<div class="cuerpo">
    <div class="container contenido">

        <button type="button" class="ico"  (click)="activeModal.dismiss('Cross click')">
            <i class="fas fa-window-close" ></i>
          </button>

        <p class="tituloContainer"> ELIMINACION DE CLIENTES</p>
    
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Identificación:</label>
                <input type="text" form="eliminacion" id="txtIdentificacion" name="txtIdentificacion" [(ngModel)]="cliente.identificacion" class="form-control">
            </div>
            <div class="col-md-6">
                <button form="eliminacion" class="btn btn-secondary btn-block" (click)="buscar()">Buscar</button>
            </div>
            <div class="col-md-6">
                <form class="form" id="eliminacion" style="padding-top: 5%;">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Nombres:</label>
                            <input type="text" readonly id="txtNombres" name="txtNombres" [(ngModel)]="cliente.nombres" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Primer Apellido:</label>
                            <input type="text" readonly id="txtprimerApellido" name="txtprimerApellido" [(ngModel)]="cliente.primerApellido" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">SegundoApellido:</label>
                            <input type="text" readonly id="txtsegundoApellido" name="txtsegundoApellido" [(ngModel)]="cliente.segundoApellido" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Telefono:</label>
                            <input type="text" readonly id="txtTelefono" name="txtTelefono" [(ngModel)]="cliente.telefono" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Correo:</label>
                            <input type="text" readonly id="txtcorreo" name="txtcorreo" [(ngModel)]="cliente.correo" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Direccion:</label>
                            <input type="text" readonly id="txtDireccion" name="txtDireccion" [(ngModel)]="cliente.direccion" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Celular:</label>
                            <input type="text" readonly id="txtCelular" name="txtCelular" [(ngModel)]="cliente.celular" class="form-control">
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <img class="logoEliminacion" src="../../../../assets/Imagenes/EliminacionPersonas.png" alt="EliminacionPersonas">
            </div>
            <div class="col-md-6">
                <button form="eliminacion" class="btn btn-secondary btn-block" (click)="eliminar()"> Eliminar</button>
            </div>
            <div class="col-md-6">
                <button type="reset" form="eliminacion" class="btn btn-secondary btn-block"> Limpiar Formulario</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="activeModal.dismiss('Cross click')" class="btn-rojo" >Cerrar</button>
      </div>
</div>

