<div class="container">
  <div class="row" *ngIf = "servicios && servicios.length">
    <div class="col-md-3 tarjeta m" *ngFor = "let servicio of servicios;">
      <div class="card borde ">
        <div class="card-body ">
          <img class="imagen" src="https://pbs.twimg.com/media/EkFv2cXXsAUhnGj?format=jpg&name=large" alt="">
          <h7>Nombre : {{servicio.nombre}}</h7>
            <p><strong>Valor : </strong> {{servicio.valor}}</p>
            <p><strong>Descripcion : </strong>{{servicio.descripcion}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


