





<div class="cuerpo">
  <div class="container contenido">

    <p class="tituloContainer"><i class="fas fa-paw"></i>CONSULTA DE ClIENTES</p>
    <div class="col-md-4">
      <div class="form" id="filtro">
        <div class="form-group">
          <div class="col-md-12">
            <label class="control-label">Filtrar por Nombres o Apellidos:</label>
            <input type="text" id="txtfiltroPersona" name="txtfiltroPersona" [(ngModel)]="searchText"
              class="form-control" placeholder="Digite aquí su búsqueda">
          </div>
        </div>
      </div>
    </div>

    <button class="btn-azul" (click)="openModalManipulador()">
      <i class="fas fa-plus-circle"></i> Eliminar Cliente</button><br><br>

      <button class="btn-azul" (click)="openModal()">
        <i class="fas fa-plus-circle"></i> Modificar Cliente</button><br><br>
    
<table class="table table-striped" *ngIf='clientes && clientes.length'>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">identificación</th>
          <th scope="col">Nombres </th>
          <th scope="col">Primer Apellido</th>
          <th scope="col">Segundo Apellido</th>
          <th scope="col">Telefono</th>
          <th scope="col">Celular</th>
          <th scope="col">Direccion</th>
          <th scope="col">Correo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes | filtrocliente: searchText; index as i ">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ cliente.identificacion }} </td>
          <td>{{ cliente.nombres}}</td>
          <td>{{cliente.primerApellido }}</td>
          <td>{{ cliente.segundoApellido}}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.celular }}</td>
          <td>{{ cliente.direccion }}</td>
          <td>{{ cliente.correo }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>