<div class="container"> 
    <div class="modal-header">
        <button type="button" class="ico"  (click)="activeModal.dismiss('Cross click')">
            <i class="fas fa-window-close" ></i>
        </button>
        <p class="tituloContainer"> ACTUALIZACION DE DATOS</p>
    </div><br>
    <form class="form" >
        <div class="row"> 
            
                
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Nombres:</label>
                    <input type="text"  name="txtNombres" [(ngModel)]="cliente.nombres" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Primer Apellido:</label>
                    <input type="text" name="txtprimerApellido" [(ngModel)]="cliente.primerApellido" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">SegundoApellido:</label>
                    <input type="text"  name="txtsegundoApellido" [(ngModel)]="cliente.segundoApellido" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Celular:</label>
                    <input type="text"  name="txtCelular" [(ngModel)]="cliente.celular" class="form-control">
                </div>
            </div>
                <div class="cold-md-6">
                   <div class="form-group">
                    <label class="control-label">Telefono:</label>
                    <input type="text"  name="txtTelefono" [(ngModel)]="cliente.telefono" class="form-control">
                   </div>
                   <div class="form-group">
                    <label class="control-label">Correo:</label>
                    <input type="text"  name="txtcorreo" [(ngModel)]="cliente.correo" class="form-control">
                    </div>
                  <div class="form-group">
                    <label class="control-label">Direccion:</label>
                    <input type="text"  name="txtDireccion" [(ngModel)]="cliente.direccion" class="form-control">
                    </div>
                </div>

            

            <div class="col-md-6">
                <button form="actualizacion" class="btn btn-secondary" (click)="actualizarDatos()">Actualizar datos</button>
            </div>
            <div class="col-md-6">
                <button type="reset" form="actualizacion" class="btn btn-secondary1 "> Limpiar Formulario</button>
            </div>
        </div>

        
    </form>
</div>
