<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <a [routerLink]='[""]' class="Icon">
                <img src="../../assets/Imagenes/logo.png" alt="Logo">   
            </a>
            <ul class="navbar-nav ">
                <a [routerLink]='[""]' class="nav-link"> <li class="nav-item nav-space"> Home </li> </a> 
                <a [routerLink]='["registro"]' class="nav-link"> <li class="nav-item nav-space"> Registro </li> </a> 
                <a [routerLink]='["consulta"]' class="nav-link"> <li class="nav-item nav-space"> Consulta </li> </a> 
            </ul>
        </nav>
    </div>
</header>