
<div class="container ">
    <div class="jumbotron ditancia-jumbotrom">
        <section class="main row">
            <div class="col-md-2">

            </div>
            <article class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="cabecera-formulario">
                            <p>Registro De Mascota</p>
                        </div>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Asociar mascota a dueño" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                        </form>
                        <form name="registro" onsubmit="">
                            <div class="form-group">
                                <label for="">Tipo de mascota : </label>
                                <select name="sexo" class="form-control" id="sexo">
                                    <option value="M">Ave</option>
                                    <option value="F">Canino</option>
                                    <option value="M">Roedor</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Escriba la raza del animal : </label>
                                <input name="identificacion" class="form-control"  type="text" placeholder="Rogwailer" id="cedula">
                            </div>
                            <button type="button" class="btn btn-success" > Registrar Mascota </button>
                        </form>
                    </div>
                </div>
            </article>
            <div class="col-md-2">

            </div>
        </section>
    </div>
</div>