<div class="container ">
    <div class="jumbotron ditancia-jumbotrom">
        <section class="main row">
            <div class="col-md-2"></div>
            <article class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="cabecera-formulario">
                            <p>Registro De Cliente</p>
                        </div>
                        <form name="registro" onsubmit="">
                            <div class="form-group">
                                <label for="">Escriba su cedula : </label>
                                <input name="identificacion" [(ngModel)]="cliente.identificacion" class="form-control"  type="text" placeholder="1065775558" >
                            </div>
                            <div class="form-group">
                                <label for="">Escriba sus nombres : </label>
                                <input name="nombres" [(ngModel)]="cliente.nombres"  class="form-control"  type="text" placeholder="Juan manuel" >
                            </div>
                            <div class="form-group">
                                <label for="">Escriba su primer Apellido: </label>
                                <input name="primerApellido" [(ngModel)]="cliente.primerApellido"   class="form-control"  type="text" placeholder="martinez" >
                            </div>
                            <div class="form-group">
                                <label for="">Escriba su segundo Apellido: </label>
                                <input name="segundoApellido" [(ngModel)]="cliente.segundoApellido" class="form-control"  type="text" placeholder="rocha" >
                            </div>
                            <div class="form-group">
                                <label for="">Escriba su telefono : </label>
                                <input name="telefono" class="form-control"  type="text" placeholder="9837903" >
                            </div>
                            <div class="form-group">
                                <label for="">Escriba su celular: </label>
                                <input name="celular" [(ngModel)]="cliente.celular" class="form-control"  type="text" placeholder="320 9873 3211" >
                            </div>
                            <div class="form-group">
                                <label for="">Escriba su direccion : </label>
                                <input name="direccion" [(ngModel)]="cliente.direccion"  class="form-control"  type="text" placeholder="calle 30 sabanas " >
                            </div>
                            <div class="form-group">
                                <label for="">Escriba su correo electronico : </label>
                                <input name="correo"[(ngModel)]="cliente.correo" class="form-control"  type="text" placeholder="lu@gmail.com" >
                            </div>
                            <input class=".btn-cancelar" type="reset" value= "Limpiar Form">
                            <button  class="btn-guardar" (click)="add()" > Registrar Cliente </button>
                        </form>
                    </div>
                </div>
            </article>
            <div class="col-md-2"></div>
        </section>
    </div>
</div>
