<div class="container">
  <div class="card" style="width: 90%;">
    <div class="card-body">
      <div
        class="cabecera-formulario">
        <p class="tituloContainer">REGISTRO DE ClIENTES</p>
      </div>


      <form [formGroup]="formularioRegistro" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Identificacion del cliente:</label>
              <input [(ngModel)]="cliente.identificacion" formControlName="identificacion" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.identificacion.errors }"
                placeholder="digite la identificacion del cliente:" type="text" />
              <div *ngIf="submitted && f.identificacion.errors" class="invalid-feedback">
                <div *ngIf="f.identificacion.errors.required || f.identificacion.errors.pattern">la identificacion es
                  requerida</div>
                <div *ngIf="f.identificacion.errors.minlength">la identificacion debe tener minimo 7 caracteres</div>
                <div *ngIf="f.identificacion.errors.pattern">la identificacion solo debe tener numeros</div>
                
              </div>
            </div>

            <div class="form-group">
              <label>Nombre Del Cliente:</label>
              <input [(ngModel)]="cliente.nombres" formControlName="nombres" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }" placeholder="digite nombres" type="text" />
              <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                <div *ngIf="f.nombres.errors.required">Campo nombres es requerido </div>
                <div *ngIf="f.nombres.errors.minlength">el nombre debe tener minimo 4 caracteres</div>
              </div>
            </div>

            <div class="form-group">
              <label>primer Apellido :</label>
              <input [(ngModel)]="cliente.primerApellido" formControlName="primerApellido" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.primerApellido.errors }" placeholder="digite primer apellido "
                type="text" />
              <div *ngIf="submitted && f.primerApellido.errors" class="invalid-feedback">
                <div *ngIf="f.primerApellido.errors.required">Campo primerApellido es requerido </div>
                <div *ngIf="f.primerApellido.errors.minlength">el primerApellido debe tener minimo 4 caracteres</div>

              </div>
            </div>
            <div class="form-group">
              <label>Segundo Apellido :</label>
              <input [(ngModel)]="cliente.segundoApellido" formControlName="segundoApellido" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.segundoApellido.errors }"
                placeholder="digite segundo apellido " type="text" />
              <div *ngIf="submitted && f.segundoApellido.errors" class="invalid-feedback">
                <div *ngIf="f.segundoApellido.errors.required">Campo segundo Apellido es requerido </div>
                <div *ngIf="f.segundoApellido.errors.minlength">el segundo Apellido debe tener minimo 4 caracteres</div>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Telefono :</label>
              <input [(ngModel)]="cliente.telefono" formControlName="telefono" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" placeholder="digite telefono"
                type="text" />
              <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                <div *ngIf="f.telefono.errors.required">telefono es requerido </div>
                <div *ngIf="f.telefono.errors.minlength">telefono debe tener minimo 7 caracteres</div>
                <div *ngIf="f.telefono.errors.pattern">El telefono solo debe tener numeros</div>

              </div>
            </div>
            <div class="form-group">
              <label>Celular :</label>
              <input [(ngModel)]="cliente.celular" formControlName="celular" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.celular.errors }" placeholder="digite celular " type="text" />
              <div *ngIf="submitted && f.celular.errors" class="invalid-feedback">
                <div *ngIf="f.celular.errors.required">Campo celular es requerido </div>
                <div *ngIf="f.celular.errors.minlength">el celular debe tener minimo 10 caracteres</div>
                <div *ngIf="f.celular.errors.pattern">el celular solo debe tener numeros</div>

              </div>
            </div>
            <div class="form-group">
              <label>Direccion :</label>
              <input [(ngModel)]="cliente.direccion" formControlName="direccion" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" placeholder="digite direccion"
                type="text" />
              <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
                <div *ngIf="f.direccion.errors.required">Campo direccion es requerido </div>
                <div *ngIf="f.direccion.errors.minlength">el direccion debe tener minimo 7 caracteres</div>

              </div>
            </div>
            <div class="form-group">
              <label>Correo :</label>
              <input [(ngModel)]="cliente.correo" formControlName="correo" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" placeholder="digite correo" type="text" />
              <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                <div *ngIf="f.correo.errors.required">Campo correo es requerido </div>
                <div *ngIf="f.correo.errors.minlength">el correo debe tener minimo 7 caracteres</div>
                <div *ngIf="f.correo.errors.email">el correo es invalido</div>
                
              </div>
            </div>

            
          </div>
          

        </div>
        <div class="form-group">
          <button class="btn-guardar"><i class="fas fa-save"></i>Registrar</button>
          <button class="btn-cancelar" type="reset" (click)="onReset()"><i
              class="fas fa-window-close"></i>Cancel</button>
        </div>
         </form>


    </div>

  </div>

</div>
