<div class="container">
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <form>
        <div class="cabecera-formulario distacia-form ">
          <h1 class=""><i class="fas fa-dog icono"></i> Factura My Veter</h1>
        </div>
        <div class="form-group distacia-form">
          <h2><strong>Fecha : </strong>{{fecha | date }}</h2>
          <div class="row">
            <div class="col-md-4 ">
              <label>Cedula : </label>
              <div class="input-group">
                <input [(ngModel)]="identificacion" type="text" class="form-control" placeholder="119281201" name="identificacion">
                <span class="input-group-btn">
                  <button (click) = "buscarCliente()" class="btn-buscar"><i class="fas fa-search-plus "></i></button>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <label>Direccion : </label>
              <input type="text" class="form-control" disabled [(ngModel)]="cliente.direccion" name="nombres">
            </div>
            <div class="col-md-4">
              <label>Apellido 1: </label>
              <input type="text" class="form-control" disabled [(ngModel)]="cliente.primerApellido" name="primerApellido">
            </div>
            <div class="col-md-4">
              <label>Apellido 2 : </label>
              <input type="text" class="form-control" disabled [(ngModel)]="cliente.segundoApellido" name="segundoApellido">
            </div>
            <div class="col-md-4">
              <label>Celular : </label>
              <input type="text" class="form-control" disabled [(ngModel)]="cliente.celular" name="Celular">
            </div>
          </div>
        </div>
        <h2>Servicios : </h2>
            <button class = "btn-verde" (click)="openModalServicio()"><i class="fas fa-plus-circle"></i> Agregar Servicio</button>
            <br> <br>
            <table class="table table-hover table-sm table-bordered">
              <thead class="header-table">
                <tr>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>PorcIva</th>
                  <th>PorcDescuento</th>
                  <th>ValIva</th>
                  <th>ValDescuento</th>
                  <th>Cantidad </th>
                  <th>SubTotal </th>
                  <th>Total</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detalle of detallesFactura" >
                  <td>{{detalle.servicio.nombre}}</td>
                  <td>{{detalle.servicio.valor}}</td>
                  <td>{{detalle.porcentajeIva}}</td>
                  <td>{{detalle.porcentajeDescueto}}</td>
                  <td>{{detalle.valorIva}}</td>
                  <td>{{detalle.valorDescuento}}</td>
                  <td>{{detalle.cantidad}}</td>
                  <td>{{detalle.subTotal}}</td>
                  <td>{{detalle.total}}</td>
                  <td><button class="btn-azul">Modificar</button></td>
                  <td><button class="btn-rojo">Eliminar</button></td>
                </tr>
              </tbody>
            </table>
      </form>
    </div>
  </div>
</div>

