.div-box{
  background: #f5f3f3;
  width: 100%;
  border-radius: 25px;
  padding: 12px;
}

.btn-buscar i
{
  color: aliceblue;
}
.btn-buscar
{
  background-color: rgb(1,124,104);
  height:38px;
  width:40px;
  border-color: rgb(1,124,104);

}
.btn-verde
{
  color: white;
  background-color: rgb(1,124,104);
  border-radius: 6px;
  font-size: 18px;
  border: 2px solid rgb(1,124,104);
  height: 37px;
  margin: 0;
}

.btn-verde:hover
{
  color: rgb(231, 236, 241);
  background-color: rgb(1, 75, 63);
  border: 2px solid rgb(1, 75, 63);
}

.btn-verde i
{
  color: aliceblue;
}
.distacia-form
{
  margin-top: 15px;
  margin-bottom: 15px;
}

.distacia-form h2
{
  margin-top: 60px;
  margin-bottom: 60px;
}
.cabecera-formulario {
  background-color:rgb(1,124,104);
  height: 44px;
  padding: 5;
  margin-bottom: 14px;
}
.cabecera-formulario h1{
  margin-left: 10px;
  font-size: 38px;
  color: ivory;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.icono i
{
  color:rgb(1,124,104);
}

.btn-azul
{
  color: white;
  background-color: rgb(1, 99, 124);
  border-radius: 6px;
  font-size: 18px;
  border: 2px solid rgb(1, 99, 124);
  height: 37px;
  margin: 0;
}
.btn-rojo
{
  color: white;
  background-color:  #213e3b;
  border-radius: 6px;
  font-size: 18px;
  border: 2px solid #213e3b;
  height: 37px;
  margin: 0;
}
.btn-azul:hover
{
  color: rgb(231, 236, 241);
  background-color: rgb(2, 76, 95);
  border: 2px solid rgb(2, 76, 95);
}
.btn-rojo:hover
{
  color: rgb(231, 236, 241);
  background-color:  #172c2a;
  border: 2px solid  #172c2a;
}
.header-table
{
  background-color: rgb(1,124,104);
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
